.btn-round {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.small-text-blue {
  color: #1db3e4;
  font-size: 0.75rem;
}

.no-border {
  border: none;
}

.gray-border-rounded {
  border: solid 1.5px #e2dede;
  border-radius: 12px;
  padding: 0.75rem;
}

.card-body {
  min-width: 555px;
  width: 555px;
}

.col-md-4 {
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.sender-name {
  font-size: 1rem;
  margin-top: 4px;
  font-family: 'Times New Roman', Times, serif;
}

.card {
  --bs-card-spacer-y: 0;
}

.messages-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.messages-h1 {
  margin: 2rem;
}

.card-text {
  font-size: 0.85rem;
}